
<%- include('header') %>
<form method="GET" action="/cotacao">
    <input name="cotacao" placeholder="Cotação dolar"><br>
    <input name="quantidade" placeholder="Quantidade de dolar"><br>
    <button type="submit">Converter</button>
</form>


<%- include('footer') %>