body {
    text-align: center;
}

h1 img {
    width: 489px;
    margin-top: 20px;
}

input {
    border: 1px solid #000000;
    background: #FDFDFD;
    font-size: 18px;
    padding: 5px;
    margin: 4px;
}

button {
    border: 1px solid #000000;
    background: #D8D8D8;
    font-size: 18px;
    padding: 10px;
    margin: 4px;
}

.result {
    padding: 10px;
    border: 1px solid #D8D8D8;
    background: #FDFDFD;
}